body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}
video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
wrapper {
  position: relative;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px grey;
  border-radius: 4px;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 700px;
  min-width: 500px;
  margin: 60px auto;
  padding: 60px 60px;
  font-size: 20px;
  font-family: Helvetica;
  color: rgba(102, 102, 102, 1);
  background-color: rgba(255, 255, 255, 0.6);
  display: block;
}
.about {
  position: absolute;
  bottom: 5px;
  left: 10px;
  margin: auto;
  font-family: Helvetica;
  color: whitesmoke;
}
form {
  box-sizing: border-box;
  font-size: 45px;
  border: 0px;
  padding-left: 0px;
}
input[type="text"] {
  background-color: rgba(255, 255, 255, 0);
  border: 0.1px;
}
input[type="text"]:focus {
  border: 0.1px;
  outline: none;
}
button {
  margin: 8px;
}
.temp {
  margin-top: 50px;
}
#date {
  font-size: x-small;
}
#time {
  font-size: x-small;
}
#last {
  font-size: x-small;
}
.today {
  text-align: center;
  font-size: 40px;
  line-height: 0.9;
  display: block;
  padding-left: 70px;
  padding-top: 35px;
  margin-top: 0px;
  content: "";
}
.weatherDetails {
  padding: 15px 0px 40px 5px;
}
.celsius {
  padding: 2px;
  font-size: medium;
  margin-top: 20px;
  text-align: right;
}
.tomorrow {
  margin-left: 1px;
  text-align: center;
  font-size: smaller;
}
#current-location {
  border-color: grey;
  border-width: 1px;
  background-color: transparent;
  border-radius: 2px;
}
#temp-button {
  border-color: grey;
  border-width: 1px;
  background-color: transparent;
  border-radius: 2px;
  font-size: 15px;
  height: 34px;
  width: 30px;
}
#forecast {
  padding: 20px 0px 0px 0px;
}
#highLow {
  font-size: 28px;
  text-align: center;
  line-height: 0;
  display: block;
  content: "";
}
.label {
  font-size: small;
  padding-right: 16px;
  padding-left: 10px;
  padding-top: 0px;
  line-height: 0;
  margin-top: 0;
  content: "";
}
